---
import { starsToIcon } from '../components/common/Helpers'

export interface Props {
  stars: number[]
}

const {stars} = Astro.props
---
<div class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 mb-6">
  <div class="grid grid-cols-2 row-gap-8 md:grid-cols-3">
    {stars.map((item, index) => (
      <div class="text-center md:border-r mb-8 md:mb-0">
        <h2 class="text-6xl md:text-8xl font-bold">{item}</h2>
      <img src={starsToIcon(index + 1)} alt="X Michelin stars" class="inline object-center h-8 md:h-10"/>
    </div>
    ))}
  </div>
</div>
